.first-page-main {
  margin: 10%;

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    // max-width: 50vw;
    line-height: 1.9;
    margin: 10px 20%;
    text-align: center;
  }

  h2 {
    margin-top: 10%;
    text-align: center;
    font-size: 2.5rem;
  }

  h3 {
    margin-top: 20px;
    text-align: center;

    span {
      font-weight: normal;
    }
  }
}

@media screen and (max-width: 800px) {
  .first-page-main {
    margin-top: 50%;
    margin-left: 0;
    margin-right: 0;
    h1 {
      font-size: 2rem;
    }
    h3 {
      margin: 10% 10%;
    }
  }
}
